* {
    background-color: #5C415D;
    color: #ffffff;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #FF5D73;
}
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-me h4 {
    margin-top: 12px;
    margin-bottom: 0px;
    color: #FF5D73;
}

.socials {
    display: flex;
    gap: 20px;
}

.socials a {
    background-color: lightblue;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
}
.socials a svg {
    height: 32px;
}

/*.socials a::before {
    content: 'Github';
    https://youtu.be/UQKWc2r_41U?si=_LoOnSzKZsfmI_wO&t=224
}*/

.description {
    background: #694966;
    border: 4px solid #74526C;
    border-radius: 30px;
    width: 33%;
}

.description p {
    background: #694966;
    border: 4px solid #74526C;
}

.projects {
    display: flex;
}